{{#hddState}}
<article class="tile is-child notification ">
    <p class="title">Eject HDD</p>
    <div class="content">
        HDD is {{#busy}}NOT{{/busy}} OK to eject
    </div>
</article>
{{/hddState}}